# Optional but recommended: status page site title
NEXT_PUBLIC_SITE_TITLE="sts status"

# Optional: status page site description for SEO and Open Graph
NEXT_PUBLIC_SITE_DESC="A fully open-source status page for Gatus backend"

# Optional: Site logo
NEXT_PUBLIC_SITE_LOGO=

# Optional: Site title points to your main site
NEXT_PUBLIC_SITE_BACK_TITLE=

# Optional: Site URL points to your main site
NEXT_PUBLIC_SITE_BACK_URL=

# Optional: Ued by skeleton when API is loading
NEXT_PUBLIC_GROUP_SIZE=3

# Optional: Brand-free footer. Plain text only
NEXT_PUBLIC_FOOTER_TEXT=

# Required: Gatus API base
GATUS_API_BASE=https://status.twin.sh/api/v1
