@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Global config from my all time favorite Kladenets */
  :root {
    /* Colors */
    /* 目前 canary 等浏览器处理 OKLCH 的 colors.bg 100% 亮度时有 bug，建议值为 0.04 */
    --primary-c: 0.01;
    --primary-h: 160;
    --secondary-c: 0.08;
    --secondary-h: 180;

    /* OKLCH */
    --fg-l: 30%;
    --bg-l: 100%;
    --ac-l: 50%;
    --hl-l: 77.7%;

    /* OKLCH helpers */
    --lch-l-offset: 0%;
    --lch-l-clamp-min: 15%;
    --lch-l-clamp-max: 99%;
    --lch-c: 0.28;

    /* Tailwind built-in color hue in OKLCH */
    --hue-gray: 262;
    --hue-red: 20;
    --hue-orange: 50;
    --hue-amber: 75;
    --hue-yellow: 102;
    --hue-lime: 128;
    --hue-green: 155;
    --hue-emerald: 170;
    --hue-teal: 181;
    --hue-cyan: 195;
    --hue-sky: 230;
    --hue-blue: 262;
    --hue-indigo: 275;
    --hue-violet: 288;
    --hue-purple: 300;
    --hue-fuchsia: 328;
    --hue-pink: 350;
    --hue-rose: 10;

    /* Typography */
    --fontstack-prefix: -apple-system, BlinkMacSystemFont;
    --fontstack-sans-serif: 'Helvetica Neue', Arial, sans-serif;
    --fontstack-serif: Georgia, serif;
    --fontstack-monospace: Menlo, Consolas, monospace;
    --fontstack-default: var(--fontstack-prefix), var(--fontstack-sans-serif);
    --font-size-base: 1rem;
    --font-size-factor: 1vw;
    --font-size: calc(var(--font-size-base) + var(--font-size-factor));
    --font-features: 'halt', 'cv01', 'cv02', 'cv03';
    --line-height: calc(20 / 14);

    /* Floating UI */
    --order-floating: 106;
    /* --floating-ui-bg: theme(colors.bg / 60%); */
    /* chrome lck color bug workaround, should be removed when bug fixed */
    --floating-ui-bg: theme(colors.white / 90%);
    --floating-ui-backdrop: saturate(2) blur(40px);
    --floating-ui-shadow: 0 0 0 0.5px theme(colors.black / 40%),
      0 20px 60px 0 color-mix(in oklch, theme(colors.ac / 20%) 60%, theme(colors.black / 20%));
    --floating-ui-border: 1px solid theme(colors.white / 40%);
    --form-line-height: 1.2;
  }

  &[data-theme='dark'] {
    --primary-c: 0.02;
    --primary-h: 145;
    --secondary-c: 0.02;
    --secondary-h: 145;

    --fg-l: 60.7%;
    --bg-l: 0%;
    --ac-l: 100%;
    --hl-l: 33.66%;

    --lch-l-offset: 20%;

    --floating-ui-bg: theme(colors.bg / 20%);
    --floating-ui-backdrop: brightness(0.5) saturate(2) contrast(0.9) blur(40px);
    --floating-ui-shadow: 0 0 0 0.5px theme(colors.black / 80%), 0 20px 60px 0 theme(colors.black / 60%);
    --floating-ui-border: 1px solid theme(colors.fg / 20%);
  }

  html,
  body {
    color: theme(colors.fg);
    background: theme(colors.bg);

    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: var(--fontstack-default);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
  }

  p {
    margin: 0.8rem 0;
    line-height: calc(var(--line-height) * 1.2);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--fontstack-default);
    font-weight: bold;
    margin: 1rem 0;
  }

  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1.1rem;
  }

  ul,
  ol {
    margin-bottom: 1.8rem;
    list-style: none;
    counter-reset: list;
    margin-left: 1em;

    li {
      line-height: calc(var(--line-height) * 1.2);

      &::before {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: 4em;
        margin-top: 0;
        margin-left: -4em;
        text-align: right;
        opacity: 0.6;
        pointer-events: none;
      }

      > ul,
      > ol {
        margin-left: 1em;
        margin-bottom: 0;
      }
    }
  }

  ul li::before {
    content: '-';
    padding-right: 0.5em;
  }

  ol li::before {
    counter-increment: list;
    content: counter(list) '.';
    padding-right: 0.25em;
  }

  .btn,
  .input,
  .select,
  button,
  input,
  select {
    line-height: var(--form-line-height);
    font-family: var(--fontstack-default);

    &:disabled {
      opacity: 0.5;
    }
  }

  textarea {
    color: theme(colors.fg);
    font-size: 1rem;
    font-family: var(--fontstack-default);
    background: theme(colors.fg / 5%);
    border: 1px solid theme(colors.fg / 20%);
    box-shadow: inset 0 1px 1px 0 theme(colors.black / 10%);
    border-radius: 4px;
    outline: none;
    padding: 0.25em 0.5em;

    &:focus,
    &:active {
      border-color: theme(colors.fg);
    }

    &::placeholder {
      color: theme(colors.fg / 40%);
    }

    &:disabled {
      opacity: 0.5;
    }

    &.loading {
      cursor: wait;
    }
  }

  pre {
    overflow-x: auto;
    padding: 0.5rem;
    background-color: theme(colors.amber.600 / 10%);
  }

  code {
    color: theme(colors.amber.600);
    word-break: break-word;
  }

  summary {
    margin: 0.25em 0;
    cursor: pointer;
  }

  .blockquote,
  blockquote {
    font-family: var(--fontstack-serif);
  }

  hr {
    border: none;
    border-top: 1px solid theme(colors.fg / 20%);
  }

  kbd {
    /* border: 1px solid theme(colors.fg / 20%); */
    background-color: theme(colors.white / 20%);
    border-radius: 4px;
    line-height: 1;
    padding: 1px 6px;
    font-weight: bold;
    box-shadow:
      0 1px 1px 0 theme(colors.fg / 10%),
      inset 0 0 0 1px theme(colors.fg / 20%);
  }

  /* Custom all scrollbars inside div, except the global body ones */
  div::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;

    &:hover {
      background: theme(colors.fg / 10%);
    }
  }

  div:hover {
    &::-webkit-scrollbar-thumb {
      background: theme(colors.fg / 40%);
      border-radius: 6px;
    }
  }

  div::-webkit-scrollbar-thumb {
    &:active {
      background: theme(colors.fg / 80%);
    }
  }
}

.logo {
  font-family: var(--fontstack-figures);
  font-weight: bold;
  text-transform: uppercase;
}

.round {
  border-radius: 50%;
}

.responsive-image {
  max-width: 100%;
  object-fit: contain;

  @media (max-width: 540px) {
    height: auto;
  }
}

.margin-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn,
.select {
  font-size: 0.8rem;
  font-weight: 500;
  appearance: none;
  border: 1px solid theme(colors.fg / 40%);
  border-top-color: theme(colors.fg / 30%);
  border-bottom-color: theme(colors.fg / 50%);
  color: theme(colors.fg);
  background: theme(colors.hl / 20%);
  border-radius: 4px;
  padding: 0.25em 0.5em;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 theme(colors.black / 10%);

  [data-theme='subspace'] &,
  [data-theme='dark'] & {
    border-top-color: theme(colors.fg / 80%);
    border-bottom-color: theme(colors.fg / 30%);
  }

  &:hover {
    border-color: theme(colors.fg);
  }

  &:disabled {
    opacity: 0.5;
    border-color: theme(colors.fg / 40%);
    cursor: not-allowed;
  }
}

/* Force a link text color with `.btn` style */
a.btn {
  color: theme(colors.fg);
}

.input {
  color: theme(colors.fg);
  font-size: 0.8rem;

  &::placeholder {
    color: theme(colors.fg / 40%);
  }

  &.text,
  &[type='search'],
  &[type='number'],
  &[type='text'] {
    appearance: none;
    border: 1px solid theme(colors.fg / 40%);
    box-shadow: inset 0 1px 1px 0 theme(colors.black / 10%);
    background: transparent;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    outline: none;

    &:hover {
      border-color: theme(colors.fg / 60%);
    }

    &:focus {
      border-color: theme(colors.fg);
    }

    &.lg {
      padding: 0.5em;
    }
  }

  &[type='checkbox'],
  &[type='radio'] {
    appearance: none;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    margin-right: 0.2em;
    background-color: theme(colors.fg / 10%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* border-radius: 2px; */
    border: 1px solid theme(colors.fg / 40%);
    box-shadow: inset 0 1px 1px 0 theme(colors.black / 20%);
    cursor: pointer;

    + label {
      opacity: 0.7;
      cursor: pointer;
      font-weight: 500;

      span {
        display: block;
        margin-left: calc((1em + 0.2em) * 0.8);
        opacity: 0.6;
        font-weight: normal;
      }
    }

    &:checked {
      /* From Bootsrap */
      /* https://getbootstrap.com/docs/5.2/forms/overview/ */
      /* NOTE: this is defined below for specific checkbox and radio */
      /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e"); */

      + label {
        opacity: 1;
        /* text-decoration: none; */
      }
    }
  }

  &[type='search'] {
    &::-webkit-search-cancel-button {
      width: 1em;
      height: 1em;
      appearance: none;
      mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");
      mask-repeat: no-repeat;
      mask-position: center center;
      background-color: currentColor;
      background-repeat: no-repeat;
      margin-right: 0;
      cursor: pointer;
    }
  }

  &[type='checkbox'] {
    border-radius: 2px;

    &:checked {
      /* From Bootsrap */
      /* https://getbootstrap.com/docs/5.2/forms/overview/ */
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");

      /* TODO: currentColor does not work */
      [data-theme='subspace'] &,
      [data-theme='dark'] & {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
      }
    }
  }

  &[type='radio'] {
    border-radius: 50%;

    &:checked {
      /* From Bootsrap */
      /* https://getbootstrap.com/docs/5.2/forms/overview/ */
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='black'/%3e%3c/svg%3e");

      [data-theme='subspace'] &,
      [data-theme='dark'] & {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='white'/%3e%3c/svg%3e");
      }
    }
  }

  /* &[type=range] {

    &::-webkit-slider-thumb {
      width: 1rem;
      height: 1rem;
      margin-top: -0.25rem;
      background: theme(colors.card / light%);
      border: 0;
      border-radius: 1rem;
      appearance: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 0.5rem;
      color: transparent;
      cursor: pointer;
      background: theme(colors.card);
      border: 1px solid theme(colors.fg / 20%);
      border-color: transparent;
      border-radius: 1rem;
    }
  } */

  &[type='date'] {
    appearance: none;
    padding: 2px 4px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid theme(colors.fg / 40%);
    border-radius: 4px;
    width: fit-content;

    &::-webkit-calendar-picker-indicator {
      width: 1em;
      height: 1em;
      appearance: none;
      mask-image: url('data:image/svg+xml,%0A%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216%22%20height=%2215%22%20viewBox=%220%200%2024%2024%22%3E%3Cpath%20fill=%22WindowText%22%20d=%22M20%203h-1V1h-2v2H7V1H5v2H4c-1.1%200-2%20.9-2%202v16c0%201.1.9%202%202%202h16c1.1%200%202-.9%202-2V5c0-1.1-.9-2-2-2zm0%2018H4V8h16v13z%22/%3E%3Cpath%20fill=%22none%22%20d=%22M0%200h24v24H0z%22/%3E%3C/svg%3E');
      mask-repeat: no-repeat;
      mask-position: center center;
      background: currentColor;
      cursor: pointer;
    }
  }
}

.pseudo-link {
  color: theme(colors.ac);
  cursor: pointer;
  font-weight: 500;
}

.pseudo-link-hover-highlight {
  cursor: pointer;

  &:hover,
  &:focus {
    color: theme(colors.ac);
  }
}

.filter-auto-dark {
  /* filter: invert(0); */

  [data-theme='subspace'] &,
  [data-theme='dark'] & {
    filter: invert(100%);
  }
}

.badge {
  font-size: 12px;
  color: theme(colors.orange.600);
  background: theme(colors.orange.600 / 10%);
  padding: 1px 4px;
  margin-left: 2px;
  border-radius: 4px;
  border: 1px solid;

  &.badge-danger {
    color: theme(colors.red.600);
    background: theme(colors.red.600 / 10%);
  }

  &.badge-success {
    color: theme(colors.green.600);
    background: theme(colors.green.600 / 10%);
  }

  &.badge-info {
    color: theme(colors.blue.600);
    background: theme(colors.blue.600 / 10%);
  }

  &.badge-warning {
    color: theme(colors.amber.600);
    background: theme(colors.amber.600 / 10%);
  }

  &.badge-sm {
    font-size: 10px;
    text-transform: uppercase;
    padding: 1px 3px;
  }
}

.floating {
  background: var(--floating-ui-bg);
  box-shadow: var(--floating-ui-shadow);
  border: var(--floating-ui-border);
  /* width: max-content; */
  -webkit-backdrop-filter: var(--floating-ui-backdrop);
  backdrop-filter: var(--floating-ui-backdrop);
  z-index: var(--order-floating);
}

::selection {
  background: theme(colors.fg / 30%);
}

.vsc-controller {
  display: none;
}

.indicator {
  background-color: currentColor;
  display: block;
  border-radius: 100%;

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: currentColor;
    opacity: 0;
    transform: scale(1);
    animation: radar 2s ease infinite;
  }

  &.up::before {
    animation-duration: 4s;
  }

  &.partial::before {
    animation-duration: 2s;
  }

  &.down::before {
    animation-duration: 1s;
  }

  &.unknown::before {
    animation: none;
  }
}

@keyframes radar {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
