@import 'tailwindcss';
@import 'tw-animate-css';

@import './kladewind.css';
@import './schemes.css';

@plugin '@tailwindcss/typography';

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

/* Extends tailwind css layers */
/* https://tailwindcss.com/docs/preflight */
@layer kladewind;

@layer base {
  html,
  body {
    color: var(--color-fg);
    background: var(--color-bg);
    font-size: 16px;
    font-family: var(--font-sans);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .indicator {
    background-color: currentColor;
    display: block;
    border-radius: 100%;

    &::before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: currentColor;
      opacity: 0;
      transform: scale(1);
      animation: radar 2s ease infinite;
    }

    &.up::before {
      animation-duration: 4s;
    }

    &.partial::before {
      animation-duration: 2s;
    }

    &.down::before {
      animation-duration: 1s;
    }

    &.unknown::before {
      animation: none;
    }
  }

  @keyframes radar {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
      transform: scale(2);
    }
  }
}

@layer utilities {
  /* Tailwind Typography */
  /* https://github.com/tailwindlabs/tailwindcss-typography#adding-custom-color-themes */
  .prose {
    --tw-prose-body: var(--color-fg);
    --tw-prose-headings: var(--color-fg);
    --tw-prose-lead: var(--color-fg);
    --tw-prose-links: var(--color-ac);
    --tw-prose-bold: var(--color-fg);
    --tw-prose-counters: color-mix(in oklch, var(--color-ac) 40%, transparent);
    --tw-prose-bullets: color-mix(in oklch, var(--color-ac) 40%, transparent);
    --tw-prose-hr: color-mix(in oklch, var(--color-fg) 20%, transparent);
    --tw-prose-quotes: var(--color-ac);
    --tw-prose-quote-borders: color-mix(in oklch, var(--color-ac) 40%, transparent);
    --tw-prose-captions: var(--color-fg);
    --tw-prose-code: var(--color-orange-500);
    --tw-prose-pre-code: var(--color-orange-500);
    --tw-prose-pre-bg: color-mix(in oklch, var(--color-orange-500) 10%, transparent);
    --tw-prose-th-borders: color-mix(in oklch, var(--color-fg) 20%, transparent);
    --tw-prose-td-borders: color-mix(in oklch, var(--color-fg) 20%, transparent);
  }
}
